
/* リセット */
body, h1, h2, h3, h4, h5, ul, ol, li, dl, dt, dd {
    margin: 0px;
    padding: 0px;
}

/* index */
/* topimage */
p a span {
    font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体",  sans-serif;
}
.container {
    background-color:white;
}
.top_image{
    position: relative;
}
.top_image .large {
    position: absolute;
    color: white;
    top: 15%;
    font-size: 70px;
    
    width: 100%;
    text-align: center;
    margin: 0%;
}
.top_image .small {
    position: absolute;
    color: white;
    top: 35%;
    left: 50%;
    font-size: 60px;
    /* font-family: A-OTF 太ゴB101 Pr6N; */
    transform: translate(-50%,-50%);
    margin: 0px;
}
.image1 {
    width: 100%;
    object-fit: cover;
}
/* ジャンル */
.genre_container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px;
}
.genre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 28%;
    position: relative;
} 
.genre .title {
    color: rgb(48, 48, 48);
    font-size: 45px;
    /* font-family: A-OTF 太ゴB101 Pr6N; */
    margin: 0px;
}
.genre .title span{
    color: rgb(48, 48, 48);
    font-size: 30px;
    /* font-family: A-OTF 太ゴB101 Pr6N; */
    margin: 5px;
}

.genre .musicimage {
    width: 100%;
}
.genre a {
    width: 200px;
    height: 50px;
    line-height: 50px;
    background-color: #A61010;
    box-shadow: 0 5px 0 #FEACAC;
    /* font-family: A-OTF 太ゴB101 Pr6N; */
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: white;
    border-radius: 20px;
    margin: 30px 0 50px 0;    
}
a:active {
    top: 2px;
      box-shadow: 0 2px 0 #FEACAC;
}  
a:hover{
    width: 210px;
    height: 55px;
}
