/* リセット */
body, h1, h2, h3, h4, h5, ul, ol, li, dl, dt, dd {
    margin: 0px;
    padding: 0px;
}
    

/* base.htmlここから */
header {
    width: auto;
    height: 140px;
    background-color: #F2A922;
}
header p {
    font-size: 60px;
    font-family: Malgun Gothic;
    font-weight: bold;
    height: 80px;
    margin: 0px;
    padding: 30px;
}
/* basex.htmlここまで */

/* base.htmlここから */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 200px;
    background-color: #F2A922;   
}

footer p {
    display: inline-block;
    font-size: 30px;
    font-family: A-OTF 太ゴB101 Pr6N;
    font-weight: bold;
    height: 60px;
    /* margin: 0px;
    padding: 75px; */
}
.twitter {
    width: 400px;
    height: 100px;
    line-height: 100px;
    background-color: #008DDE;
    box-shadow: 0 10px 0 #224760;
    
    display: inline-block;
    /* position: relative; */
    font-family: Arial;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: white;
    border-radius: 20px;
    /* padding: 14px 80px; */
  }
  .twitter:active {
    top: 2px;
      box-shadow: 0 2px 0 #0078BD;
  }
  .twitter:hover {
    background-color: #1397D8;
    /* base.htmlここまで */
