
/* リセット */
body, h1, h2, h3, h4, h5, ul, ol, li, dl, dt, dd {
    margin: 0px;
    padding: 0px;
}
    

/* index.htmlここから */
header {
    width: auto;
    height: 140px;
    background-color: #F2A922;
}
header p {
    font-size: 60px;
    font-family: Malgun Gothic;
    font-weight: bold;
    height: 80px;
    margin: 0px;
    padding: 30px;
}
/* index.htmlここまで */

/* index */
/* topimage */
.container {
    background-color: #010103;
}
.top_image{
    position: relative;
}
.top_image .large {
    position: absolute;
    color: white;
    top: 15%;
    font-size: 70px;
    font-family: A-OTF 太ゴB101 Pr6N;
    width: 100%;
    text-align: center;
    margin: 0%;
}
.top_image .small {
    position: absolute;
    color: white;
    top: 30%;
    left: 50%;
    font-size: 60px;
    font-family: A-OTF 太ゴB101 Pr6N;
    transform: translate(-50%,-50%);
}
.image1 {
    width: 100%;
    object-fit: cover;
}
/* ジャンル */
.genre_container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 50px;
}
.genre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 28%;
    position: relative;
} 
.genre .title {
    color: white;
    font-size: 50px;
    font-family: A-OTF 太ゴB101 Pr6N;
    margin: 15px;
}
.genre .title span{
    color: white;
    font-size: 30px;
    font-family: A-OTF 太ゴB101 Pr6N;
    margin: 15px;
}

.genre .musicimage {
    width: 100%;
}
.linkbtn {
    width: 200px;
    height: 50px;
    line-height: 50px;
    background-color: #A61010;
    box-shadow: 0 5px 0 #FEACAC;
    font-family: A-OTF 太ゴB101 Pr6N;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: white;
    border-radius: 20px;
    margin: 30px 0 50px 0;    
}
.linkbtn:active {
    top: 2px;
      box-shadow: 0 2px 0 #FEACAC;
}  
.menu_btn {
    position: relative;
}
.btn_item{
    background: white;
    display: none;
    position:absolute;
    bottom: 25%;
    list-style: none;
    border-radius: 20px;
    
  }
.item:hover {
    background-color: rgb(255, 242, 191);
    border-radius: 20px;
}
.item {
    padding: 10px 20px;
}



.item a {
    /* border-bottom: 1px solid gray; */
    display: block;
    text-decoration: none;
    font-family: A-OTF 太ゴB101 Pr6N;
    color: black;
  }
.space {
    height: 100px;
}



/* base.htmlここから */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 200px;
    background-color: #F2A922;   
}

footer p {
    display: inline-block;
    font-size: 30px;
    font-family: A-OTF 太ゴB101 Pr6N;
    font-weight: bold;
    height: 60px;
    /* margin: 0px;
    padding: 75px; */
}
.twitter {
    width: 400px;
    height: 100px;
    line-height: 100px;
    background-color: #008DDE;
    box-shadow: 0 10px 0 #224760;
    
    display: inline-block;
    /* position: relative; */
    font-family: Arial;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: white;
    border-radius: 20px;
    /* padding: 14px 80px; */
  }
  .twitter:active {
    top: 2px;
      box-shadow: 0 2px 0 #0078BD;
  }
  .twitter:hover {
    background-color: #1397D8;
    /* base.htmlここまで */