<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/css/style.contents.css">
    <title>Document</title> 
</head>
<body>
    <header>
        <p>Hello World</p>
    </header>
    {% block content %}


<!-- ここにメインコンテンツを書く -->


    {% endblock %}
    <footer>
        
        <p>質問やお問い合わせは公式ツイッターまで！！</p>
        <a href="#" class="twitter">Twitterフォローしてね！</a>   
        
    </footer>
   
</body>
</html>
