{% extends "base.html" %}
{% block content %}
<!-- ここから -->
<!-- <script src="../static/js/jquery-3.5.1.js"></script>
<script src="../static/js/jquery.fadethis.min.js"></script>
<script src="../static/js/common.js"></script> -->

<link rel="stylesheet" href="../static/css/black_css/content1.css" media="screen and (min-width: 500px)" id="content_css">
<link rel="stylesheet" href="../static/css/black_css/content1_sp.css" media="screen and (max-width: 501px)" id="sp_content_css">
<div class="container">
    <div class="content_image">       
        <p class="title">{{name}}<span>の世界</span></p>
        <img class="image" src="../static/image/{{img}}/{{img}}.jpg" alt="">
    </div>
    <!-- <div class="text_container"> -->
        <ul class="content_item">
            <li class="item">
                {% for item in contents_list %}  
                <a href="/{{item['category']}}/{{item['id']}}">{{item["catchcopy"]}}</a>
                {% endfor %}
            </li> 
        </ul>
        <h3 class="top_return"><a href="/index" class="top_return_text">TOPにもどる</a></h3>
    <!-- </div> -->
</div> 

<!-- ここまで -->
{% endblock %}