
<!-- ここまで -->
{% extends "base.html" %}
{% block content %}
<!-- ここから -->
<link rel="stylesheet" href="/static/css/black_css/style.sp.contents.css" media="screen and (max-width: 500px)" id="sp_genre">
<link rel="stylesheet" href="/static/css/black_css/style.contents.css" media="screen and (min-width: 501px)" id="genre">
<div class="contents_base">
    <h1 class="catchcopy">{{catchcopy}}</h1>
    
    
    <!-- <div class="keyword_base"> -->
        <div class="contents_main">
            <div class="image_block">
                <img src="{{image}}" alt="イメージ画像" class="image">
            </div>
            <div class="keyword"> 
                <p class="name_space">{{name}}</p>
                <div class="keyword_block">
                    <p class="keyword_g">キーワードで検索！！</p>
                    <ul>
                        <li>{{keyword1}}</li>
                        <li>{{keyword2}}</li>
                        <li>{{keyword3}}</li>
                    </ul>
                </div>
                
            </div>
        </div>
    <!-- </div> -->

    <div class="fixed_base">
        <h2 class="fixed_word">え？気になる？　じゃー、<a href="https://www.google.com/" class="google_link">Google</a>検索してみてね！</h2>
        <h3 class="top_return"><a href="/" class="top_return_text">TOPにもどる</a></h3>
        
    </div>
    <!-- <p class="empty">{{""}}</p> -->

</div>
<!-- ここまで -->
{% endblock %}