{% extends "base.html" %}
{% block content %}
<!-- ここから -->
<form action="/edit/nature" method="post">
    <input type="hidden" value="{{id}}" name="id">
    <input type="text" value="{{catchcopy}}" name="catchcopy">
    <input type="text" value="{{name}}" name="name">
    <input type="text" value="{{keyword1}}" name="keyword1">
    <input type="text" value="{{keyword2}}" name="keyword2">
    <input type="text" value="{{keyword3}}" name="keyword3">
    <input type="blob" value="{{image}}" name="image">
    <input type="submit" value="編集">
    
</form>

<p>{{name}}</p>
<p>{{catchcopy}}</p>
<!-- ここまで -->
{% endblock %}