{% extends "base.html" %}
{% block content %}
<!-- ここから -->
<form action="/edit" method="post">
    <input type="hidden" value="{art{['category_id']}}" name="category_id">
    <input type="text" value="{{art['name']}}" name="name">
    <input type="text" value="{{art['category']}}" name="catchcopy">
    <input type="text" value="{{art['keyword1']}}" name="keyword1">
    <input type="text" value="{{art['keyword2']}}" name="keyword2">
    <input type="text" value="{{art['keyword3']}}" name="keyword3">
     <!--画像のインプットどうしたらよいか-->
    <input type="submit" value="編集">
</form>
<!-- ここまで -->
{% endblock %}