{% extends "base.html" %}
{% block content %}
<!-- ここから -->
<div class="container">
    <div class="top_image">       
        <img class="image1" src="../static/image/top/earth.jpg" alt="">
        <p class="large">僕らの知らない世界</p>
        <p class="small">へようこそ</p>
    </div>
    <div class="genre_container">
        <div class="genre">
            <p class="title">音楽の世界</p>
            <img class="musicimage" src="../static/image/music/james-stamler-k3heD_KwH0A-unsplash.jpg" alt="">
            <a href="#" class="linkbtn">世界をのぞく</a>   
        </div>
        <div class="genre">
            <p class="title">芸術の世界</p>
            <img class="musicimage" src="../static/image/music/james-stamler-k3heD_KwH0A-unsplash.jpg" alt="">
            <a href="#" class="linkbtn">世界をのぞく</a>   
        </div>
        <div class="genre">
            <p class="title_text">スポーツの世界</p>
            <img class="musicimage" src="../static/image/music/james-stamler-k3heD_KwH0A-unsplash.jpg" alt="">
            <a href="#" class="linkbtn">世界をのぞく</a>   
        </div>
        <div class="genre">
            <p class="title">娯楽の世界</p>
            <img class="musicimage" src="../static/image/music/james-stamler-k3heD_KwH0A-unsplash.jpg" alt="">
            <a href="#" class="linkbtn">世界をのぞく</a>   
        </div>
        <div class="genre">
            <p class="title">暮らしの世界</p>
            <img class="musicimage" src="../static/image/music/james-stamler-k3heD_KwH0A-unsplash.jpg" alt="">
            <a href="#" class="linkbtn">世界をのぞく</a>   
        </div>
        <div class="genre">
            <p class="title">食の世界</p>
            <img class="musicimage" src="../static/image/music/james-stamler-k3heD_KwH0A-unsplash.jpg" alt="">
            <a href="#" class="linkbtn">世界をのぞく</a>   
        </div>
        <div class="genre">
            <p class="title_text">旅と外国の世界</p>
            <img class="musicimage" src="../static/image/music/james-stamler-k3heD_KwH0A-unsplash.jpg" alt="">
            <a href="#" class="linkbtn">世界をのぞく</a>   
        </div>
        <div class="genre">
            <p class="title">自然の世界</p>
            <img class="musicimage" src="../static/image/music/james-stamler-k3heD_KwH0A-unsplash.jpg" alt="">
            <a href="#" class="linkbtn">世界をのぞく</a>   
        </div>
        <div class="genre">
            <p class="title">美容の世界</p>
            <img class="musicimage" src="../static/image/music/james-stamler-k3heD_KwH0A-unsplash.jpg" alt="">
            <a href="#" class="linkbtn">世界をのぞく</a>   
        </div>
        <div class="genre">
            <p class="title">乗り物の世界</p>
            <img class="musicimage" src="../static/image/music/james-stamler-k3heD_KwH0A-unsplash.jpg" alt="">
            <a href="#" class="linkbtn">世界をのぞく</a>   
        </div>
        <div class="genre">
            <p class="title">歴史の世界</p>
            <img class="musicimage" src="../static/image/music/james-stamler-k3heD_KwH0A-unsplash.jpg" alt="">
            <a href="#" class="linkbtn">世界をのぞく</a>   
        </div>
        <div class="genre">
            <p class="title">医療の世界</p>
            <img class="musicimage" src="../static/image/music/james-stamler-k3heD_KwH0A-unsplash.jpg" alt="">
            <a href="#" class="linkbtn">世界をのぞく</a>   
        </div>
        
    </div>
    <div class="space">

    </div>
</div>

<!-- ここまで -->
{% endblock %}