
{% extends "base.html" %}
{% block content %}
<!-- ここから -->
<hr color="#008080" width="100%" size="3"> <!--この線は後で消す線です。-->

<!-- 自然 -->
<p>nature</p>
<table border = "1">
    {% for item in nature_list %}   
    <tr>      
        <td>{{item["catchcopy"]}}</td>
        <td>{{item["name"]}}</td>
        <td>{{item["keyword1"]}}</td>
        <td>{{item["keyword2"]}}</td>
        <td>{{item["keyword3"]}}</td>
        <td>{{item["image"]}}</td>
        <td><a href="/edit/nature/{{item['id']}}">編集</a></td>
        <td><a href="/del/{{item['id']}}">削除</a></td>
    </tr>
    {% endfor %}
</table>
<a href="/add/nature">追加</a>


<!-- 音楽-->
<p>music</p>
<table border = "1">
    {% for item in music_list %}   
    <tr>      
        <td>{{item["catchcopy"]}}</td>
        <td>{{item["name"]}}</td>
        <td>{{item["keyword1"]}}</td>
        <td>{{item["keyword2"]}}</td>
        <td>{{item["keyword3"]}}</td>
        <td>{{item["image"]}}</td>
        <td><a href="/edit/{{item['id']}}">編集</a></td>
        <td><a href="/del/{{item['id']}}">削除</a></td>
    </tr>
    {% endfor %}
</table>
<a href="/add/music">追加</a>

<!-- アート -->
<p>art</p>
<table border = "1">
    {% for item in art_list %}   
    <tr>      
        <td>{{item["catchcopy"]}}</td>
        <td>{{item["name"]}}</td>
        <td>{{item["keyword1"]}}</td>
        <td>{{item["keyword2"]}}</td>
        <td>{{item["keyword3"]}}</td>
        <td>{{item["image"]}}</td>
        <td><a href="/edit/{{item['id']}}">編集</a></td>
        <td><a href="/del/{{item['id']}}">削除</a></td>
    </tr>
    {% endfor %}
</table>
<a href="/add/art">追加</a>

<!-- スポーツ --> 
<p>sport</p>
<table border = "1">
    {% for item in sport_list %}   
    <tr>      
        <td>{{item["catchcopy"]}}</td>
        <td>{{item["name"]}}</td>
        <td>{{item["keyword1"]}}</td>
        <td>{{item["keyword2"]}}</td>
        <td>{{item["keyword3"]}}</td>
        <td>{{item["image"]}}</td>
        <td><a href="/edit/{{item['id']}}">編集</a></td>
        <td><a href="/del/{{item['id']}}">削除</a></td>
    </tr>
    {% endfor %}
</table>
<a href="/add/sport">追加</a>


<!-- 旅 -->
<p>trip</p>
<table border = "1">
    {% for item in trip_list %}   
    <tr>      
        <td>{{item["catchcopy"]}}</td>   
        <td>{{item["name"]}}</td>
        <td>{{item["category"]}}</td>
        <td>{{item["keyword1"]}}</td>
        <td>{{item["keyword2"]}}</td>
        <td>{{item["keyword3"]}}</td>
        <td>{{item["image"]}}</td>
        <td><a href="/edit/{{item['id']}}">編集</a></td>
        <td><a href="/del/{{item['id']}}">削除</a></td>
    </tr>
    {% endfor %}
</table>
<a href="/add/trip">追加</a>


<!-- fashion -->
<p>fashion</p>
<table border = "1">
    {% for item in fashion_list %}   
    <tr>      
        <td>{{item["catchcopy"]}}</td>   
        <td>{{item["name"]}}</td>
        <td>{{item["category"]}}</td>
        <td>{{item["keyword1"]}}</td>
        <td>{{item["keyword2"]}}</td>
        <td>{{item["keyword3"]}}</td>
        <td>{{item["image"]}}</td>
        <td><a href="/edit/{{item['id']}}">編集</a></td>
        <td><a href="/del/{{item['id']}}">削除</a></td>
    </tr>
    {% endfor %}
</table>
<a href="/add/fashion">追加</a>



<!-- food -->
<p>foods</p>
<table border = "1">
    {% for item in foods_list %}   
    <tr>      
        <td>{{item["catchcopy"]}}</td>   
        <td>{{item["name"]}}</td>
        <td>{{item["category"]}}</td>
        <td>{{item["keyword1"]}}</td>
        <td>{{item["keyword2"]}}</td>
        <td>{{item["keyword3"]}}</td>
        <td>{{item["image"]}}</td>
        <td><a href="/edit/{{item['id']}}">編集</a></td>
        <td><a href="/del/{{item['id']}}">削除</a></td>
    </tr>
    {% endfor %}
</table> 
<a href="/add/foods">追加</a>



<!-- life -->
<p>life</p>
<table border = "1">
    {% for item in life_list %}   
    <tr>      
        <td>{{item["catchcopy"]}}</td>   
        <td>{{item["name"]}}</td>
        <td>{{item["category"]}}</td>
        <td>{{item["keyword1"]}}</td>
        <td>{{item["keyword2"]}}</td>
        <td>{{item["keyword3"]}}</td>
        <td>{{item["image"]}}</td>
        <td><a href="/edit/{{item['id']}}">編集</a></td>
        <td><a href="/del/{{item['id']}}">削除</a></td>
    </tr>
    {% endfor %}
</table>
<a href="/add/life">追加</a>


<!-- medical -->
<p>medical</p>
<table border = "1">
    {% for item in medical_list %}   
    <tr>      
        <td>{{item["catchcopy"]}}</td>   
        <td>{{item["name"]}}</td>
        <td>{{item["category"]}}</td>
        <td>{{item["keyword1"]}}</td>
        <td>{{item["keyword2"]}}</td>
        <td>{{item["keyword3"]}}</td>
        <td>{{item["image"]}}</td>
        <td><a href="/edit/{{item['id']}}">編集</a></td>
        <td><a href="/del/{{item['id']}}">削除</a></td>
    </tr>
    {% endfor %}
</table>
<a href="/add/medical">追加</a>


<!-- history -->
<p>history</p>
<table border = "1">
    {% for item in history_list %}   
    <tr>      
        <td>{{item["catchcopy"]}}</td>   
        <td>{{item["name"]}}</td>
        <td>{{item["category"]}}</td>
        <td>{{item["keyword1"]}}</td>
        <td>{{item["keyword2"]}}</td>
        <td>{{item["keyword3"]}}</td>
        <td>{{item["image"]}}</td>
        <td><a href="/edit/{{item['id']}}">編集</a></td>
        <td><a href="/del/{{item['id']}}">削除</a></td>
    </tr>
    {% endfor %}
</table>
<a href="/add/history">追加</a>


<!-- ride -->
<p>ride</p>
<table border = "1">
    {% for item in ride_list %}   
    <tr>      
        <td>{{item["catchcopy"]}}</td>   
        <td>{{item["name"]}}</td>
        <td>{{item["category"]}}</td>
        <td>{{item["keyword1"]}}</td>
        <td>{{item["keyword2"]}}</td>
        <td>{{item["keyword3"]}}</td>
        <td>{{item["image"]}}</td>
        <td><a href="/edit/{{item['id']}}">編集</a></td>
        <td><a href="/del/{{item['id']}}">削除</a></td>
    </tr>
    {% endfor %}
</table>
<a href="/add/ride">追加</a>
<br>
<br>
<a href="/logout">ログアウト</a>
<!-- ここまで -->
{% endblock %}